.slikaStyle {
  height:70px; 
  width:70px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  float: left;
}

.stoparicaGumb {
  position: relative;
  padding: 15px 80px;
  text-align: center;
  background-color: white;
}